* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #F5EAEA;
    --second-bg-color: #FFB84C;
    --text-color: #fff;
    --second-color: #F16767;
    --main-color: #A459D1;
}

body {
    color: #773344;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #153B50;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.logo {
    color: #c73f61;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}

.navlist {
    display: flex;
}

.navlist a {
    color: #00c49a;
    font-size: 14px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .45s ease;
}

.navlist a:hover {
    color: #fff;
}

#menu-icon {
    font-size: 35px;
    color: #F5EAEA;
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section {
    padding: 160px 15% 120px;
}

.home {
    position: relative;
    height: 110vh;
    width: 100%;
    background-image: urL(../img/Banner.png);
    background-color: #FFD166;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slide {
    margin-bottom: 20px;
}

.one {
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    Line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: #FBB13C;
    color: #153B50;
    font-family: 'Space Mono', monospace;
}

.two {
    display: inline-block;
    color: #BF4342;
    font-size: 20px;
    font-weight: 500;
}

.home-text h1 {
    font-size: 100px;
    font-weight: 700;
    color: #DB2955;
    font-family: 'Chivo', sans-serif;
    margin: 0 0 8px;
    line-height: 1.1;
}

.home-text h3 {
    font-size: 3rem;
    color: #FFFFFF;
    margin: 0 0 35px;
    font-weight: 700;
    line-height: 1.1;
}

.home h3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.home-text p {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.8;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    color: #153B50;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #FBB13C;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}

.btn:hover {
    transform: scale(0.9);
}

.btn2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-style: 15px;
    font-weight: 600;
    margin-left: 35px;
    color: #fff;
}

.btn2 span i {
    height: 55px;
    width: 55px;
    background-color: #FBB13C;
    color: #153B50;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    border-radius: 50%;
    margin-right: 15px;
    transition: all .45s ease;
}

.btn2 span i:hover {
    transform: scale(1.1);
}

header.sticky {
    /* background-color: #A459D1; */
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
}

.about {
    background-color: #773344;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    max-width: 360px;
    height: auto;
    width: 100%;
    border-radius: 8px;
}

.about-text h2 {
    font-size: 2rem;
    line-height: 1;
    color: #fff;
}

.about-text h4 {
    font-size: 24px;
    font-weight: 600;
    color: #F16767;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: #F5EAEA;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 4rem;
}

.support img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 8px solid white;
    box-shadow: 8px 8px 40px black;
    object-fit: cover;
}

.support {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: auto;
    place-items: center center;
    justify-content: space-between;
    font-family: 'Work Sans', sans-serif;
}

.sp{
    background-color: #fbb13c;
}

.sp p {
    text-transform: capitalize;
}

.support h1{
    margin: 20px;
    font-size: 2rem;
}

.contact{
    background-color: #773344;
    font-size: 22px;
    font-weight: 600;
}

.contact-text h2{
    font-size: larger;
    line-height: 1;
    color: #fff;
}

.contact-text h4{
    color: #fff;
    margin: 18px 0;
    font-size: 16px;
    font-weight: 600;
}

.list{
    margin-bottom: 2.8rem;
}

.list li{
    margin-bottom: 12px;
}

.list li a{
    display: block;
    color: #F5EAEA;
    font-size: 14px;
    transition: all .45s ease;
}

.list li a:hover{
    color: #fff;
    transform: translateX(5px);
}

.contact-icons i{
    height: 45px;
    width: 45px;
    background-color: #DB2955;
    color: #fff;
    font-size: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 15px;
    transition: all .45s ease;
}

.contact-icons i:hover{
    background-color: #d26983;
}

.end{
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background: #153B50;
}

.last-text p{
    color: #fff;
    font-size: 14px;
}

.top i{
    padding: 10px;
    border-radius: 8px;
    font-size: 15px;
    color: #773344;
    background-color: #FBB13C;
}