body{
    background-color: #eaf6f6;
}

h1{
    color: #66bfbf;
}

h4{
    margin-bottom: 0%;
}

h5{
    padding: 0%;
    margin-top: 1%;
    margin-left: 7%;
}

.nav-list{
    display: flex;
    margin: 0%;
    padding: 0%;
    list-style: none;
    background-color: aquamarine;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.nav-list li{
    flex-shrink: 1;
}

.pic_1 img{
    display: flex;
    margin: 0%;
    padding: 0%;
    border: solid 2px black;
    width: 20%;
}