*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root{
    --bg-color: #F5EAEA;
    --second-bg-color: #FFB84C;
    --text-color: #fff;
    --second-color: #F16767;
    --main-color: #A459D1;
}

h5{
    padding: 0%;
    margin-top: 1%;
    margin-left: 7%;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #84DCC6;
    font-size: 1rem;
}

a:hover{
    color: var(--bg-color);
}

header{
    background-color: #27233A;      
}

.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    width: 100%;
    height: 60px;
    max-width: 1200px;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.logo a{
    color: var(--second-color);
    font-family: 'Poppins', sans-serif;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 4rem;
}

.navbar .toggle_btn{
    display: none;
}

section{
    padding: 160px 15% 120px;
}

.home{
    position: relative;
    height: 110vh;
    width: 100%;
    background-image: urL(../img/Banner.png);
    background-color: #FFD166;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slide{
    margin-bottom: 20px;
}

.one{
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    Line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background: #FBB13C;
    color: #153B50;
    font-family: 'Space Mono', monospace;
}

.two{
    display: inline-block;
    color: #BF4342;
    font-size: 20px;
    font-weight: 500;
}

.home-text h1{
    font-size: 100px;
    font-weight: 700;
    color: #DB2955;
    font-family: 'Chivo', sans-serif;
}

.home-text{
    font-size: 26px;
    color: #FFFFFF;
}

.home h3{
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
}

.home p{
    font-family: 'Work Sans', sans-serif;
}

.btn{
    color: #153B50;
    font-size: 24px;
}

.btn2{
    color: #773344;
}